<div id="main-container">
	<md-card id="customer">
		<md-card-title>Customer</md-card-title>
		<md-card-content>
			<table>
				<tr md-tooltip="Customer number">
					<td class="label">#</td>
					<td class="value">248291</td>
				</tr>
				<tr>
					<td class="label">Name</td>
					<td class="value">Foobarbaz AG testtest 123456789</td>
				</tr>
			</table>
			<md-divider class="faded"></md-divider>
			<table>
				<tr>
					<td class="label">Phone</td>
					<td class="value">+49 172 1234567</td>
				</tr>
				<tr>
					<td class="label">Fax</td>
					<td class="value">+49 151 0958253</td>
				</tr>
			</table>
			<md-divider class="faded"></md-divider>
			<table>
				<tr>
					<td class="label">Website</td>
					<td class="value"><a href="www.google.com">www.google.com</a></td>
				</tr>
				<tr>
					<td class="label">E-Mail addresses</td>
					<td class="value">
						foo@bar.baz
						<br>
						cyka@blyat.com
					</td>
				</tr>
			</table>
			<md-divider class="faded"></md-divider>
			<table>
				<tr>
					<td class="label">Group</td>
					<td class="value">Reseller</td>
				</tr>
				<tr>
					<td class="label">Price group</td>
					<td class="value">B</td>
				</tr>
				<tr>
					<td class="label">Industry sector</td>
					<td class="value">Pharmaceutical</td>
				</tr>
				<tr>
					<td class="label">Yearly revenue</td>
					<td class="value">2.5m - 5.0m</td>
				</tr>
				<tr>
					<td class="label">Amount of employees</td>
					<td class="value">1001 - 2000</td>
				</tr>
				<tr>
					<td class="label">Account managers</td>
					<td class="value">
						Foo bar
						<br>
						Bin baz
					</td>
				</tr>
			</table>
			<md-divider class="faded"></md-divider>
			<table>
				<tr>
					<td class="label">Location</td>
					<td class="value">Böblingen</td>
				</tr>
				<tr>
					<td class="label">Clerk</td>
					<td class="value">Angela Merkel</td>
				</tr>
			</table>
			<md-divider class="faded"></md-divider>
			<table>
				<tr>
					<td class="label">Town</td>
					<td class="value">Grafenau</td>
				</tr>
				<tr>
					<td class="label">ZIP</td>
					<td class="value">71120</td>
				</tr>
				<tr>
					<td class="label">Street</td>
					<td class="value">Schillerstr. 11</td>
				</tr>
			</table>
			<md-divider class="faded"></md-divider>
			<table>
				<tr>
					<th colspan="2" class="title">Yearly sales</th>
				</tr>
				<tr>
					<td class="label">2012</td>
					<td class="value">233.439€</td>
				</tr>
				<tr>
					<td class="label">2013</td>
					<td class="value">504.221€</td>
				</tr>
				<tr>
					<td class="label">2014</td>
					<td class="value">349.505€</td>
				</tr>
				<tr>
					<td class="label">2015</td>
					<td class="value">683.694€</td>
				</tr>
				<tr>
					<td class="label">2016</td>
					<td class="value">90.852€</td>
				</tr>
			</table>
		</md-card-content>
	</md-card>
	<md-card id="contacts">
		<md-card-title>Contacts</md-card-title>
		<md-card-content>
			foo
		</md-card-content>
	</md-card>
	<md-card id="details">
		<md-card-title>Details</md-card-title>
		<md-card-content>
			foo
		</md-card-content>
	</md-card>
</div>
