<div id="main-container">
	<md-card id="customer">
		<md-card-title>Customer</md-card-title>
		<md-card-content>
			<table>
				<tr mdTooltip="Customer number">
					<td class="label">#</td>
					<td class="value">{{customer.number}}</td>
				</tr>
				<tr>
					<td class="label">Name</td>
					<td class="value">{{customer.name}}</td>
				</tr>
			</table>
			<md-divider class="faded"></md-divider>
			<table>
				<tr>
					<td class="label">Phone</td>
					<td class="value">{{customer.phone}}</td>
				</tr>
				<tr>
					<td class="label">Fax</td>
					<td class="value">{{customer.fax}}</td>
				</tr>
			</table>
			<md-divider class="faded"></md-divider>
			<table>
				<tr>
					<td class="label">Website</td>
					<td class="value"><a href="{{customer.website}}">{{customer.website}}</a></td>
				</tr>
				<tr>
					<td class="label">E-Mail addresses</td>
					<td class="value">
						<span *ngFor="let emailAddress of customer.emailAddresses, let last = last">
							{{emailAddress}}
							<br *ngIf="!last">
						</span>
					</td>
				</tr>
			</table>
			<md-divider class="faded"></md-divider>
			<table>
				<tr>
					<td class="label">Group</td>
					<td class="value">{{customer.group}}</td>
				</tr>
				<tr>
					<td class="label">Price group</td>
					<td class="value">{{customer.priceGroup}}</td>
				</tr>
				<tr>
					<td class="label">Industry sector</td>
					<td class="value">{{customer.industry}}</td>
				</tr>
				<tr>
					<td class="label">Yearly revenue</td>
					<td class="value">{{customer.revenue}}</td>
				</tr>
				<tr>
					<td class="label">Amount of employees</td>
					<td class="value">{{customer.employees}}</td>
				</tr>
				<tr>
					<td class="label">Account managers</td>
					<td class="value">
						<span *ngFor="let accountManager of customer.accountManagers, let last = last" mdTooltip="{{accountManager.responsibility}}">
							{{accountManager.name}}
							<br *ngIf="!last">
						</span>
					</td>
				</tr>
			</table>
			<md-divider class="faded"></md-divider>
			<table>
				<tr>
					<td class="label">Location</td>
					<td class="value">{{customer.location}}</td>
				</tr>
				<tr>
					<td class="label">Clerk</td>
					<td class="value">{{customer.clerk}}</td>
				</tr>
			</table>
			<md-divider class="faded"></md-divider>
			<table>
				<tr>
					<td class="label">Town</td>
					<td class="value">{{customer.town}}</td>
				</tr>
				<tr>
					<td class="label">ZIP</td>
					<td class="value">{{customer.zipCode}}</td>
				</tr>
				<tr>
					<td class="label">Street</td>
					<td class="value">{{customer.street}}</td>
				</tr>
			</table>
			<md-divider class="faded"></md-divider>
			<table>
				<tr>
					<th colspan="2" class="title">Yearly sales</th>
				</tr>
				<tr *ngFor="let year of customer.yearlySales">
					<td class="label">{{year.year}}</td>
					<td class="value">{{year.sales | currency:'EUR':true}}</td>
				</tr>
			</table>
		</md-card-content>
		<md-card-actions>
			<button md-button (click)="editCustomer()" [disabled]="customerEditDialogRef">EDIT</button>
		</md-card-actions>
	</md-card>
	<md-card id="contacts">
		<md-card-title>Contacts</md-card-title>
		<md-card-content>
			<div *ngFor="let contact of contacts, let last = last">
				<md-card>
					<md-card-title>{{contact.name}}</md-card-title>
					<md-card-content>
						<table>
							<tr>
								<td class="label">Phone</td>
								<td class="value">{{contact.phone}}</td>
							</tr>
							<tr>
								<td class="label">Fax</td>
								<td class="value">{{contact.fax}}</td>
							</tr>
						</table>
						<md-divider class="faded"></md-divider>
						<table>
							<tr>
								<td class="label">E-Mail addresses</td>
								<td class="value">
									<span *ngFor="let emailAddress of contact.emailAddresses, let last = last">
										{{emailAddress}}
										<br *ngIf="!last">
									</span>
								</td>
							</tr>
						</table>
						<md-divider class="faded"></md-divider>
						<table>
							<tr>
								<td class="label">Town</td>
								<td class="value">{{contact.town}}</td>
							</tr>
							<tr>
								<td class="label">ZIP</td>
								<td class="value">{{contact.zipCode}}</td>
							</tr>
							<tr>
								<td class="label">Street</td>
								<td class="value">{{contact.street}}</td>
							</tr>
						</table>
					</md-card-content>
				</md-card>
				<br *ngIf=!last>
			</div>
		</md-card-content>
	</md-card>
	<md-card id="details">
		<md-card-title>Details</md-card-title>
		<md-card-content>
			foo
		</md-card-content>
	</md-card>
</div>
