<div layout="column" class="md-inline-form">
	<form (submit)="_resetPassword(form)" #form="ngForm">
		<table class="full-width" cellspacing="0"><tr>
			<td><md-input class="full-width" required placeholder="Vorname" [(ngModel)]="_passwordresetModel.firstName" name="firstName"></md-input></td>
			<td><md-input class="full-width" required placeholder="Nachname" [(ngModel)]="_passwordresetModel.lastName" name="lastName"></md-input></td>
		</tr></table>
		<md-input class="full-width" type="email" required placeholder="E-Mail" [(ngModel)]="_passwordresetModel.email" name="email"></md-input>
		<div class="bottom-right">
			<button md-raised-button type="reset">Zurücksetzen</button>
			<button md-raised-button color="primary" type="submit">Abschicken</button>
		</div>
	</form>
</div>
