<div layout="column" class="md-inline-form">
	<form (submit)="_createAdvertisement(form)" #form="ngForm">
		<md-input class="full-width" required placeholder="Titel" [(ngModel)]="_createModel.title" name="title"></md-input>
		<md-input class="full-width" required placeholder="Straße" [(ngModel)]="_createModel.street" name="street"></md-input>
		<table class="full-width" cellspacing="0"><tr>
			<td><md-input class="full-width" required placeholder="Ort" [(ngModel)]="_createModel.town" name="town"></md-input></td>
			<td><md-input class="full-width" required placeholder="PLZ" maxLength="5" [(ngModel)]="_createModel.zipCode" name="zipCode"></md-input></td>
		</tr></table>
		<table class="full-width" cellspacing="0"><tr>
			<td><md-input class="full-width" type="email" required placeholder="E-Mail" [(ngModel)]="_createModel.email" name="email"></md-input></td>
			<td><md-input class="full-width" type="password" required placeholder="Passwort" [(ngModel)]="_createModel.password" name="password"></md-input></td>
		</tr></table>
		<div class="bottom-right">
			<md-checkbox [(ngModel)]="_createModel.anonymous" name="anonymous">Anzeige anonym veröffentlichen</md-checkbox>
			<button md-raised-button type="reset">Zurücksetzen</button>
			<button md-raised-button color="primary" type="submit">Abschicken</button>
		</div>
	</form>
</div>
