.full-width {
	width: 100%;
}

.bottom-right {
	float: right;
	margin-bottom: 6px;
}

md-card {
	margin-bottom: 20px;
}

md-card.success {
	background-color: #59B75C;
	color: rgba(255,255,255, 0.84);
}

md-card.info {
	background-color: #03A9F4;
	color: rgba(255,255,255, 0.84);
}

md-card.warning {
	background-color: #FF5722;
	color: rgba(255,255,255, 0.84);
}

md-card.danger {
	background-color: #F44336;
	color: rgba(255,255,255, 0.84);
}
