<mat-divider *ngIf="!first && level === 1" class="faded"></mat-divider>
<mat-nav-list [@showChildren]="childrenVisible" dense class="mat-nav-list no-padding {{'level-' + level}}">
	<mat-list-item *ngIf="navigationitem.children.length > 0" (click)="toggle()">
		<mat-icon mat-list-icon>{{navigationitem.icon}}</mat-icon>
		<span mat-line>{{navigationitem.description}}</span>
		<mat-icon [@rotateArrow]="arrowDirection">keyboard_arrow_down</mat-icon>
	</mat-list-item>
	<mat-list-item *ngIf="navigationitem.children.length === 0" (click)="linkClicked.emit(null)" [routerLink]="navigationitem.routerLink">
		<mat-icon mat-list-icon>{{navigationitem.icon}}</mat-icon>
		<span mat-line>{{navigationitem.description}}</span>
	</mat-list-item>
</mat-nav-list>
<span *ngIf="childrenVisible">
	<navigationitem *ngFor="let child of navigationitem.children" [navigationitem]="child" [level]="level + 1" (linkClicked)="linkClicked.emit(null)"></navigationitem>
</span>
