<md-nav-list dense>
	<md-list-item *ngIf="navigationitem.children.length > 0" (click)="_showChildren = !_showChildren">
		<md-icon md-list-icon>{{navigationitem.icon}}</md-icon>
		<span md-line>{{navigationitem.description}}</span>
	</md-list-item>
	<md-list-item *ngIf="navigationitem.children.length === 0" [routerLink]="navigationitem.routerLink">
		<md-icon md-list-icon>{{navigationitem.icon}}</md-icon>
		<span md-line>{{navigationitem.description}}</span>
	</md-list-item>
</md-nav-list>
<navigationitem *ngFor="let child of navigationitem.children" [navigationitem]="child"></navigationitem>
