<div layout="column" class="md-inline-form">
	<form [formGroup]="_form" (ngSubmit)="_createAnnouncement()">
		<table class="full-width">
			<tr>
				<td><md-input class="full-width" required placeholder="Titel" formControlName="title"></md-input></td>
				<td><md-input class="full-width" required placeholder="Preis" formControlName="price"><span md-prefix>€&nbsp;</span><span md-suffix>.00</span></md-input></td>
			</tr>
		</table>
		<table class="full-width" cellspacing="0">
			<tr>
				<td><md-input class="full-width" required placeholder="Straße" formControlName="street"></md-input></td>
				<td><md-input class="full-width" required placeholder="Stadt" formControlName="town"></md-input></td>
				<td><md-input class="full-width" required placeholder="PLZ" maxlength="5" formControlName="zipCode"></md-input></td>
			</tr>
		</table>
		<table class="full-width" cellspacing="0">
			<tr>
				<td><md-input class="full-width" type="email" required placeholder="E-Mail" formControlName="email"></md-input></td>
				<td><md-input class="full-width" type="password" required placeholder="Passwort" formControlName="password"></md-input></td>
			</tr>
		</table>
		<md-checkbox formControlName="anonymous">Anzeige anonym aufgeben</md-checkbox>
		<div class="float-right">
			<button md-raised-button type="reset">Zurücksetzen</button>
			<button md-raised-button color="primary" type="submit">Abschicken</button>
		</div>
	</form>
</div>
