<div layout="column" class="mat-inline-form">
	<form [formGroup]="form" (ngSubmit)="submit()">
		<table class="full-width">
			<tr>
				<td><mat-input-container class="full-width">
					<input matInput required placeholder="Title" maxLength="60" formControlName="title" #titleInput>
					<mat-hint>{{titleInput.value.length}} / {{titleInput.maxLength}}</mat-hint>
				</mat-input-container></td>
				<td><mat-input-container class="full-width">
					<input matInput required placeholder="Price" formControlName="price">
					<span matPrefix>€&nbsp;</span>
					<span matSuffix>.00</span>
				</mat-input-container></td>
			</tr>
		</table>
		<table class="full-width" cellspacing="0">
			<tr>
				<td><mat-input-container class="full-width">
					<input matInput required placeholder="Street" formControlName="street">
				</mat-input-container></td>
				<td><mat-input-container class="full-width">
					<input matInput required placeholder="City" formControlName="town">
				</mat-input-container></td>
				<td><mat-input-container class="full-width">
					<input matInput required placeholder="ZIP Code" maxLength="5" formControlName="zipCode" #zipInput>
					<mat-hint>{{zipInput.value.length}} / {{zipInput.maxLength}}</mat-hint>
				</mat-input-container></td>
			</tr>
		</table>
		<table class="full-width" cellspacing="0">
			<tr>
				<td><mat-input-container class="full-width">
					<input matInput type="email" required placeholder="E-Mail" formControlName="email">
				</mat-input-container></td>
				<td><mat-input-container class="full-width">
					<input matInput type="password" required placeholder="Password" formControlName="password">
				</mat-input-container></td>
			</tr>
		</table>
		<mat-checkbox labelPosition="before" formControlName="anonymous">Post announcement anonymously</mat-checkbox>
		<div class="float-right button-padding">
			<button mat-raised-button type="reset">Reset</button>
			<button mat-raised-button color="primary" type="submit">Send</button>
		</div>
	</form>
</div>
