.cell {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	display: table-cell;
	height: 9px;
	margin-right: -1px;
	margin-bottom: -1px;
	width: 9px;
}

.row {
	display: table-row;
}

.first-row {
	border-top: 1px solid #ccc;
}

.first-cell {
	border-left: 1px solid #ccc;
}

.alive {
	background-color: black;
}
