<md-card>
	<md-card-content>
		<div class="row" *ngFor="let row of rows, let rowIndex = index, let firstRow = first">
			<div class="cell" [class.first-row]="firstRow" [class.first-cell]="firstCell" [class.alive]="cell.alive" *ngFor="let cell of row.cells, let cellIndex = index, let firstCell = first"></div>
		</div>
	</md-card-content>
	<md-card-actions>
		Iteration: {{iterationCount}}
		<button md-button (click)="initializeCells()">INITIALIZE</button>
		<button md-button (click)="randomizeCells()">RANDOMIZE</button>
		<button md-button (click)="calculateNextIteration()">NEXT ITERATION</button>
		<button md-button (click)="start()" [disabled]="iterationSubscription">START</button>
		<button md-button (click)="stop()"  [disabled]="!iterationSubscription">STOP</button>
		<md-input-container>
			<input mdInput required type="number" placeholder="Delay" [disabled]="iterationSubscription" [(ngModel)]="iterationTime">
			<span md-suffix>seconds</span>
		</md-input-container>
	</md-card-actions>
</md-card>
