<md-card>
	<md-card-content>
		<md-tab-group>
			<md-tab>
				<template md-tab-label>
					Announcements
				</template>
				<template md-tab-content>
					<md-list>
						<div *ngFor="let announcement of _announcements, let last = last">
							<stadtanzeiger-announcement [announcementModel]="announcement"></stadtanzeiger-announcement>
							<md-divider *ngIf="!last"></md-divider>
						</div>
					</md-list>
				</template>
			</md-tab>
			<md-tab>
				<template md-tab-label>
					New announcement
				</template>
				<template md-tab-content>
					<stadtanzeiger-announcement-create (createAnnouncement)="_createAnnouncement($event, createComponent)" #createComponent></stadtanzeiger-announcement-create>
				</template>
			</md-tab>
			<md-tab>
				<template md-tab-label>
					Registration
				</template>
				<template md-tab-content>
					<stadtanzeiger-user-register (registerUser)="_registerUser($event, registerComponent)" #registerComponent></stadtanzeiger-user-register>
				</template>
			</md-tab>
			<md-tab>
				<template md-tab-label>
					Password forgotten
				</template>
				<template md-tab-content>
					<stadtanzeiger-user-passwordreset (resetPassword)="_resetPassword($event, passwordresetComponent)" #passwordresetComponent></stadtanzeiger-user-passwordreset>
				</template>
			</md-tab>
		</md-tab-group>
	</md-card-content>
</md-card>
